<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<pintle>
			<swagger>
				<swaggerSettings 
						type="Pintle.Swagger.Configuration.SwaggerConfigSettings, Pintle.Swagger" 
						singleInstance="true"
						xmlDocPath="$(dataFolder)/Swagger/CombinedXmlDocumentation.xml">
					<combinedXmlDocPath>$(xmlDocPath)</combinedXmlDocPath>
					<apiVersions hint="raw:AddApiVersion">
						<custom name="custom" routeTemplate="api/v1" description="Custom Web API services"/>
						<sitecore name="sitecore" routeTemplate="sitecore" description="Sitecore Web API services"/>
						<default name="default" routeTemplate="*" description="The rest of Web API services"/>
					</apiVersions>
				</swaggerSettings>
			</swagger>
		</pintle>
	</sitecore>
</configuration>